<div
  class="mt-4 [--chart-height:323px] md:[--chart-height:328px]"
  data-controller="pressure-chart"
  data-pressure-chart-type-value="line"
  data-action=""
  markdown="0"
>
  <canvas data-pressure-chart-target="chartjsCanvas" style="height: var(--chart-height)">
    Chart of responsibilities growing
  </canvas>
  <template data-pressure-chart-target="csvData" >
    date_abbr,date_full,value,value_formatted
    25,September 25,9,9
    26,September 26,10,10
    27,September 27,4,4
    28,September 28,8,8
    29,September 29,7,7
    30,September 30,7,7
     1,October  1,48,48
     2,October  2,29,29
     3,October  3,29,29
     4,October  4,21,21
     5,October  5,0,0
     6,October  6,0,0
     7,October  7,0,0
     8,October  8,0,0
     9,October  9,0,0
    10,October 10,0,0
    11,October 11,0,0
    12,October 12,0,0
    13,October 13,0,0
    14,October 14,0,0
    15,October 15,0,0
    16,October 16,0,0
    17,October 17,0,0
    18,October 18,0,0
    19,October 19,0,0
    20,October 20,0,0
    21,October 21,0,0
    22,October 22,0,0
    23,October 23,0,0
    24,October 24,0,0
  </template>
  <template data-pressure-chart-target="chartjsOptions"></template>
</div>