<div class="
  -mx-10 px-4 sm:mx-0 sm:px-0
  [--sl-color-primary-600:theme('colors.sequoia.800')]
  [--sl-color-neutral-400:theme('colors.ochre.400')]
  "
  data-controller="toggle"
>
  <div
    class="
    [--chart-height:200px] md:[--chart-height:300px]
    [--grid-color:theme('colors.black')]
    [--line-color:theme('colors.sequoia.800')]
    [--point-color:transparent]
    [--warning-line-color:theme('colors.rust.700')]
    [--today-line-color:theme('colors.rust.700')]
    [--dead-line-color:theme('colors.rust.700')]
    [--label-text-color:theme('colors.rust.700')]
    [--use-tight-layout:true] sm:[--use-tight-layout:false]
    "
    data-controller="pressure-chart"
    data-pressure-chart-type-value="line"
    data-pressure-chart-show-alternate-scenario-value="false"
    data-action="fonts:fonts-loaded@window->pressure-chart#updateChart toggle:toggle->pressure-chart#toggleAlternateScenario"
    data-toggle-target="toggleable"
    markdown="0"
  >
    <canvas data-pressure-chart-target="chartjsCanvas" style="height: var(--chart-height)">
      Chart of responsibilities growing
    </canvas>
    <template data-pressure-chart-target="csvData" >
      weeks_since,pressure,pressure_relieved_by
      15,0,
      14,12,
      13,36,
      12,32,
      11,24,
      10,23,
      9,25,
      8,24,
      7,23,
      6,28,
      5,35,
      4,44,
      3,58,
      2,64,
      1,73,
      0,82,82
      1,,64
      2,,57
      3,,62
      4,98,54
    </template>
    <template data-pressure-chart-target="chartjsOptions"></template>
  </div>
  
  <div class="text-right">
    <sl-switch data-action="sl-change->toggle#catchChecked">Pascal takes over charts</sl-switch>
  </div>
</div>